# User-specific IntelliJ IDEA files
.idea/workspace.xml
.idea/dictionaries/*

# Instead of versioning the built dependencies using package.json
# To pull down dependencies, run "npm install" at the project root.
node_modules

# Ignore any generated output from the build
/build

# Ignore the videos
/vids

# Mac OS metadata
.DS_Store
